.authContainer {
  background-color: var(--white);
  border-radius: 10px;
  width: 40%;
  max-width: 500px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 37.5em) {
  .authContainer {
    width: 90%;
    padding: 1.5rem;
  }
  .formTitle {
    font-size: 2rem;
    line-height: 3rem;
  }
  .inputField {
    padding: 0.8rem;
  }
  .submitButton {
    padding: 0.6rem 3rem;
  }
}

@media screen and (max-width: 56.25em) {
  .authContainer {
    width: 85%;
    padding: 2rem;
  }
}

@media screen and (max-width: 75em) {
  .authContainer {
    width: 60%;
    max-width: 600px;
  }
}

@media screen and (min-width: 112.5em) {
  .authContainer {
    width: 35%;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}
.icon {
  width: 100px;
  height: 100px;
  color: var(--secondary);
}

.formTitle {
  font-weight: 700;
  color: var(--primary);
  font-size: 2.5rem;
  line-height: 3.75rem;
}
.formTitleSmall {
  font-weight: 700;
  color: var(--primary);
  font-size: 1.6rem;
  line-height: 2.344rem;
  text-align: center;
}

.formSubtitle {
  font-weight: 300;
  font-size: 1.06rem;
  line-height: 1.6rem;
  color: var(--secondary-light);
}
.formSubtitleSmall {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--secondary-light);
  text-align: center;
}

.formWrapper {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.inputField {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  border: 2px solid var(--grey);
  box-sizing: border-box;
  color: var(--secondary);
}
.inputField:focus,
.inputField:active {
  outline: none;
  border: 2px solid transparent;
  border-radius: 10px;
  border: 2px solid var(--primary);
}

.buttonWrapper {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
.submitButton {
  background-color: var(--secondary);
  color: var(--white);
  padding: 0.7rem 5rem;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: var(--secondary-light);
}

.formFooter {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.formFooterText {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: normal;
  color: var(--secondary-light);
}

.formFooterLink {
  font-weight: 400;
  font-size: 0.68rem;
  line-height: 1.03rem;
  color: var(--secondary);
  transition: all 0.3s ease;
}
.formFooterLink:hover,
.formFooterLink:active,
.formFooterLink:focus {
  text-decoration: underline;
}
